<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <title>Admin</title>
    <style type="text/css">
        .container-fluid {
            height: 100vh;
        }

    </style>
</head>
<body>

<div>
    <nav class="navbar navbar-dark bg-dark">
        <div>
            <a class="navbar-brand text-white">
                <strong id="navbar-email" th:font="bold"></strong>
                with roles:
                <span id="navbar-roles"></span>
            </a>
        </div>
        <a th:href="@{/logout}" class="float-right btn text-secondary">Logout</a>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active border-0" data-toggle="list"
                   href="#adminPanel" role="tab">Admin</a>
                <a class="list-group-item list-group-item-action border-0" data-toggle="list" href="#profile"
                   role="tab">User</a>
            </div>
        </div>
        <div class="col-10 px-0 bg-light">
            <div class="container-fluid">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane active" id="adminPanel" role="tabpanel">
                        <h1 class="m-3 fw-bold">Admin panel</h1>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="usersTable-tab" data-toggle="tab"
                                   href="#usersTable" type="button" role="tab" aria-controls="usersTable"
                                   aria-selected="true"
                                > User table </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="newUser-tab" data-toggle="tab" href="#newUser"
                                   type="button" role="tab" aria-controls="newUser" aria-selected="false"
                                   onclick="loadRoles2()">New user
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="usersTable" role="tabpanel"
                                 aria-labelledby="usersTable-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="m-1">
                                            <h4>All users</h4>
                                        </div>
                                    </div>

                                    <div class="card-body" bg-primary text-white>
                                        <table class="table table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Username</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="all-users">
                                            </tbody>

                                        </table>
                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center bg-white">
                                        <div class="col-4">
                                            <form class="text-center" id="createUserForm">
                                                <div class="form-group fw-bold">

                                                    <div class="form-group m-3">
                                                        <div class="form-group m-3">
                                                            <label class="col-form-label">Username</label>
                                                            <input type="text" class="form-control"
                                                                   id="username" value=""/>
                                                        </div>

                                                        <div class="form-group m-3">
                                                            <label class="col-form-label">First
                                                                mame</label>
                                                            <input type="text" class="form-control"
                                                                   id="firstName"/>
                                                        </div>

                                                        <div class="form-group m-3">
                                                            <label class="col-form-label">Last
                                                                name</label>
                                                            <input type="text" class="form-control"
                                                                   id="lastName"/>
                                                        </div>

                                                        <div class="form-group m-3">
                                                            <label class="col-form-label">Age</label>
                                                            <input type="number" class="form-control"
                                                                   id="age"
                                                                   min="18" max="100" value="18"/>
                                                        </div>

                                                        <div class="form-group m-3">
                                                            <label
                                                                    class="col-form-label">Email</label>
                                                            <input type="text" class="form-control"
                                                                   id="email"/>
                                                        </div>

                                                        <div class="form-group m-3">
                                                            <label
                                                                    class="col-form-label">Password</label>
                                                            <input type="password" class="form-control"
                                                                   id="password" value=""/>
                                                        </div>

                                                        <div class="form-group m-3">
                                                            <label for="roles">Role</label>
                                                            <select class="form-select w-100" multiple
                                                                    aria-label="multiple select example"
                                                                    size="2"
                                                                    id="roles"
                                                                    name="roles">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success" id="createUserBtn">Add new
                                                    user
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="tab-pane " id="profile" role="tabpanel">
                        <h1 class="m-3 fw-bold">User information-page</h1>
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h4>About user</h4>
                                </div>
                            </div>

                            <div class="card-body" bg-primary text-white>
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody-user">
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div aria-hidden="true" aria-labelledby="editModalLabel"
         id="deleteModal"
         tabindex="-1" class="modal fade">
        <form class="text-center" id="deleteForm">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            Delete user</h5>
                        <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center bg-white">
                                <div class="col-8">
                                    <label class="col-form-label"
                                           for="userIdDelete">ID</label>
                                    <input type="text"
                                           class="form-control"
                                           id="userIdDelete"
                                           name="id" disabled/>


                                    <label class="col-form-label"
                                           for="usernameDelete">Username</label>
                                    <input type="text"
                                           class="form-control"
                                           id="usernameDelete"
                                           name="username"
                                           disabled/>

                                    <label class="col-form-label"
                                           for="firstNameDelete">First
                                        name</label>
                                    <input type="text"
                                           class="form-control"
                                           id="firstNameDelete"
                                           name="firstName" disabled/>

                                    <label class="col-form-label"
                                           for="lastNameDelete">Last
                                        name</label>
                                    <input type="text"
                                           class="form-control"
                                           id="lastNameDelete"
                                           name="lastName" disabled/>

                                    <label class="col-form-label"
                                           for="ageDelete">Age</label>
                                    <input type="number"
                                           class="form-control"
                                           id="ageDelete"
                                           tname="age" disabled/>

                                    <label class="col-form-label"
                                           for="emailDelete">Email</label>
                                    <input type="text"
                                           class="form-control"
                                           id="emailDelete"
                                           name="email" disabled/>

                                    <label for="rolesDelete">Role</label>
                                    <select class="form-select w-100"
                                            multiple
                                            aria-label="multiple select example"
                                            size="2"
                                            id="rolesDelete" name="roles"
                                            disabled>
                                    </select>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal" id="closeDelete">Close
                        </button>
                        <button type="button" class="btn btn-danger" id="deleteBtn"
                                onclick="deleteUser(); getAdminPage()">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div aria-hidden="true" aria-labelledby="editModalLabel"
         tabindex="-1" class="modal fade" id="editModal">
        <div class="modal-dialog" modal-dialog-centered>
            <div class="modal-content">
                <div class="modal-content">
                    <form class="text-center" id="editForm">

                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit
                                user</h5>
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body">
                                <div class="row justify-content-center align-items-center bg-white">
                                    <div class="col-8">
                                        <label class="col-form-label"
                                               for="idEdit">ID</label>
                                        <input class="form-control"
                                               id="idEdit"
                                               name="id"
                                               type="number" readonly/>

                                        <label class="col-form-label"
                                               for="usernameEdit">Username</label>
                                        <input id="usernameEdit" type="text"
                                               name="username"
                                               class="form-control"
                                        />

                                        <label class="col-form-label"
                                               for="firstNameEdit">First
                                            name</label>
                                        <input type="text"
                                               class="form-control"
                                               name="firstName"
                                               id="firstNameEdit"/>

                                        <label class="col-form-label"
                                               for="lastNameEdit">Last
                                            name</label>
                                        <input type="text"
                                               class="form-control"
                                               name="lastName"
                                               id="lastNameEdit"/>

                                        <label class="col-form-label"
                                               for="ageEdit">Age</label>
                                        <input type="number"
                                               class="form-control"
                                               name="age"
                                               id="ageEdit"/>

                                        <label class="col-form-label"
                                               for="emailEdit">Email</label>
                                        <input id="emailEdit" type="text"
                                               class="form-control"
                                               name="email"
                                        />

                                        <label class="col-form-label"
                                               for="passwordEdit">Password</label>
                                        <input id="passwordEdit"
                                               type="password"
                                               class="form-control"
                                               name="password" value=""/>

                                        <label for="rolesEdit">Role</label>
                                        <select class="form-select w-100"
                                                multiple
                                                aria-label="multiple select example"
                                                size="2"
                                                id="rolesEdit" name="roles"
                                                required>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal" id="editClose">Close
                            </button>
                            <button type="button" class="btn btn-primary" id="editBtn"
                                    onclick="editUser(); getAdminPage()">
                                Edit
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/infoUser.js}"></script>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>