<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <title>Admin</title>
    <style type="text/css">
        .container-fluid {
            height: 100vh;
        }

    </style>
</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="text-white"><span class="font-weight-bold" th:text="${userAuthorized.getEmail()}"/> with roles:
            <th:block th:each="role : *{userAuthorized.getRoles()}">
                &nbsp;<span th:text="${role.name}"/>
            </th:block>
        </div>
        <div><a type="button" class="text-muted" th:href="@{/logout}">Logout</a></div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active border-0" data-toggle="list"
                   href="#adminPanel" role="tab">Admin</a>
                <a class="list-group-item list-group-item-action border-0" data-toggle="list" href="#profile"
                   role="tab">User</a>
            </div>
        </div>
        <div class="col-10 px-0 bg-light">
            <div class="container-fluid">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane active" id="adminPanel" role="tabpanel">
                        <h1 class="m-3 fw-bold">Admin panel</h1>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/admin/new}">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="usersTable" role="tabpanel">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="m-1">
                                            <h4>All users</h4>
                                        </div>
                                    </div>

                                    <div class="card-body" bg-primary text-white>
                                        <table class="table table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Username</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${allUsers}">
                                                <td th:text="${user.getId()}"></td>
                                                <td th:text="${user.getUsername()}"></td>
                                                <td th:text="${user.getFirstName()}"></td>
                                                <td th:text="${user.getLastName()}"></td>
                                                <td th:text="${user.getAge()}"></td>
                                                <td th:text="${user.getEmail()}"></td>
                                                <td>
                                                    <th:block th:each="role : *{user.getRoles()}">
                                                        &nbsp;<span th:text="${role.name}"/>
                                                    </th:block>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                            data-target="#editModal"
                                                            th:data-target="${'#editModal'+user.id}">Edit
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger deleteBtn"
                                                            data-toggle="modal"
                                                            data-target="#delteModal"
                                                            th:data-target="${'#deleteModal'+user.id}">Delete
                                                    </button>
                                                </td>
                                                <div aria-hidden="true" aria-labelledby="editModalLabel" id="editModal"
                                                     tabindex="-1" class="modal fade" th:id="${'editModal'+user.id}">
                                                    <div class="modal-dialog" modal-dialog-centered>
                                                        <div class="modal-content">
                                                            <div class="modal-content">
                                                                <form th:action="@{/admin/edit/}"
                                                                      method="GET" th:object="${user}">

                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="editModalLabel">Edit
                                                                            user</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="card-body">
                                                                            <div class="row justify-content-center align-items-center bg-white">
                                                                                <div class="col-8">
                                                                                    <label class="col-form-label"
                                                                                           for="id">ID</label>
                                                                                    <input class="form-control"
                                                                                           id="id"
                                                                                           th:name="id"
                                                                                           th:value="${user.id}"
                                                                                           th:type="number" readonly/>


                                                                                    <label class="col-form-label"
                                                                                           for="username">Username</label>
                                                                                    <input id="username" th:type="text"
                                                                                           th:name="username"
                                                                                           class="form-control"
                                                                                           th:value="${user.username}"/>

                                                                                    <label class="col-form-label"
                                                                                           for="firstName">First
                                                                                        name</label>
                                                                                    <input th:type="text"
                                                                                           class="form-control"
                                                                                           th:name="firstName"
                                                                                           th:value="${user.firstName}"
                                                                                           id="firstName"/>

                                                                                    <label class="col-form-label"
                                                                                           for="lastName">Last
                                                                                        name</label>
                                                                                    <input th:type="text"
                                                                                           class="form-control"
                                                                                           th:name="lastName"
                                                                                           th:value="${user.lastName}"
                                                                                           id="lastName"/>

                                                                                    <label class="col-form-label"
                                                                                           for="age">Age</label>
                                                                                    <input th:type="number"
                                                                                           class="form-control"
                                                                                           th:name="age"
                                                                                           th:value="${user.age}"
                                                                                           id="age"/>

                                                                                    <label class="col-form-label"
                                                                                           for="email">Email</label>
                                                                                    <input id="email" th:type="text"
                                                                                           class="form-control"
                                                                                           th:name="email"
                                                                                           th:value="${user.email}"/>

                                                                                    <label class="col-form-label"
                                                                                           for="password">Password</label>
                                                                                    <input id="password"
                                                                                           th:type="password"
                                                                                           class="form-control"
                                                                                           th:name="password" value=""/>

                                                                                    <label for="roles">Role</label>
                                                                                    <select class="form-select w-100"
                                                                                            multiple
                                                                                            aria-label="multiple select example"
                                                                                            size="2"
                                                                                            id="roles" name="roles"
                                                                                            required>
                                                                                        <option th:each="role : ${allRoles}"
                                                                                                th:value="${role.id}"
                                                                                                th:text="${role.name}"
                                                                                                th:selected="${user.getRoles().containsAll(role)}"></option>
                                                                                    </select>
                                                                                </div>


                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Edit
                                                                        </button>
                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div aria-hidden="true" aria-labelledby="editModalLabel"
                                                     id="deleteModal"
                                                     tabindex="-1" class="modal fade" th:id="${'deleteModal'+user.id}">
                                                    <form th:action="@{/admin/delete/}"
                                                          method="GET" th:object="${user}">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLongTitle">
                                                                        Delete user</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="card-body">
                                                                        <div class="row justify-content-center align-items-center bg-white">
                                                                            <div class="col-8">
                                                                                <label class="col-form-label"
                                                                                       for="userIdDelete">ID</label>
                                                                                <input th:type="text"
                                                                                       class="form-control"
                                                                                       id="userIdDelete"
                                                                                       th:value="${user.id}"
                                                                                       th:name="id" disabled/>


                                                                                <label class="col-form-label"
                                                                                       for="usernameDelete">Username</label>
                                                                                <input th:type="text"
                                                                                       class="form-control"
                                                                                       id="usernameDelete"
                                                                                       th:value="${user.username}"
                                                                                       th:name="username"
                                                                                       disabled/>

                                                                                <label class="col-form-label"
                                                                                       for="firstNameDelete">First
                                                                                    name</label>
                                                                                <input th:type="text"
                                                                                       class="form-control"
                                                                                       id="firstNameDelete"
                                                                                       th:value="${user.firstName}"
                                                                                       th:name="firstName" disabled/>

                                                                                <label class="col-form-label"
                                                                                       for="lastNameDelete">Last
                                                                                    name</label>
                                                                                <input th:type="text"
                                                                                       class="form-control"
                                                                                       id="lastNameDelete"
                                                                                       th:value="${user.lastName}"
                                                                                       th:name="lastName" disabled/>

                                                                                <label class="col-form-label"
                                                                                       for="ageDelete">Age</label>
                                                                                <input type="number"
                                                                                       class="form-control"
                                                                                       id="ageDelete"
                                                                                       th:value="${user.age}"
                                                                                       th:name="age" disabled/>

                                                                                <label class="col-form-label"
                                                                                       for="emailDelete">Email</label>
                                                                                <input th:type="text"
                                                                                       class="form-control"
                                                                                       id="emailDelete"
                                                                                       th:value="${user.email}"
                                                                                       th:name="email" disabled/>

                                                                                <label for="rolesDelete">Role</label>
                                                                                <select class="form-select w-100"
                                                                                        multiple
                                                                                        aria-label="multiple select example"
                                                                                        size="2"
                                                                                        id="rolesDelete" name="roles"
                                                                                        disabled>
                                                                                    <option th:each="role : ${allRoles}"
                                                                                            th:value="${role.id}"
                                                                                            th:text="${role.name}"
                                                                                            th:selected="${user.getRoles().containsAll(role)}"></option>
                                                                                </select>
                                                                            </div>


                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <input type="hidden" name="userId"
                                                                           id="paramIdDelete" th:value="${user.id}"/>
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-danger">
                                                                        Delete
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="tab-pane " id="profile" role="tabpanel">
                        <h1 class="m-3 fw-bold">User information-page</h1>
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h4>About user</h4>
                                </div>
                            </div>

                            <div class="card-body" bg-primary text-white>
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${userAuthorized.getId()}"></td>
                                        <td th:text="${userAuthorized.getUsername()}"></td>
                                        <td th:text="${userAuthorized.getFirstName()}"></td>
                                        <td th:text="${userAuthorized.getLastName()}"></td>
                                        <td th:text="${userAuthorized.getAge()}"></td>
                                        <td th:text="${userAuthorized.getEmail()}"></td>
                                        <td>
                                            <th:block th:each="role : *{userAuthorized.getRoles()}">
                                                &nbsp;<span th:text="${role.name}"/>
                                            </th:block>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>