<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <title>User Page</title>
    <style type="text/css">
        .container-fluid {
            height: 100vh;
        }

    </style>
</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="text-white"><span class="font-weight-bold" th:text="${user.getEmail()}"/> with roles:
            <th:block th:each="role : *{user.getRoles()}">
                &nbsp;<span th:text="${role.name}"/>
            </th:block>
        </div>
        <div><a type="button" class="text-muted" th:href="@{/logout}">Logout</a></div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action border-0 active" data-toggle="list" href="#profile"
                   role="tab">User</a>
            </div>
        </div>
        <div class="col-10 px-0 bg-light">
            <div class="container-fluid">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane active show" id="profile" role="tabpanel">
                        <h1 class="m-3 fw-bold">User information-page</h1>
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h4>About user</h4>
                                </div>
                            </div>

                            <div class="card-body" bg-primary text-white>
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody-user">
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/js/infoUser.js}"></script>
</body>
</html>